.imagecss {
  width: 100%;
  height: auto;
  align-items: flex-start;
}
.para {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: Roboto;
  font-weight: bold;
  align-self: flex-start;
}
.totalcont {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}
